<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hello, Vue!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>

        <div id="app2" v-bind:title="message">
            Hover this, bitch.
        </div>

        <div id="app3">
                <button v-on:click="seen = !seen">toggle</button>
            <transition name="fade">
                <span v-if="seen">See this</span>
            </transition>
        </div>

        <div id="app4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <div id="app5">
            <p> {{ message }} </p>
            <button v-on:click="reverseMessage">Reverse</button>
        </div>

        <div id="app6">
            <p> {{ message }}</p>
            <input v-model="message"></input>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="js/app.js"></script>
    </body>
</html>